{% extends "base.html" %}
{% block content %}
    <h1> SSDB Admin - {{ version }}</h1>
    <hr>
    <h3>Server Info - {{ current_server }}</h3>
    <table class="table table-striped">
        <tbody>
        <tr>
            <td width="20%">version</td>
            <td>{{ server_info.version }}</td>
        </tr>
        <tr>
            <td width="20%">links</td>
            <td>{{ server_info.links }}</td>
        </tr>
        <tr>
            <td width="20%">total_calls</td>
            <td>{{ server_info.total_calls }}</td>
        </tr>
        <tr>
            <td width="20%">dbsize</td>
            <td>{{ server_info.db_size }}</td>
        </tr>
        <tr>
            <td width="20%">binlogs</td>
            <td>{{ server_info.bin_logs }}</td>
        </tr>
        <tr>
            <td width="20%">serv_key_range</td>
            <td>{{ server_info.service_key_range }}</td>
        </tr>
        <tr>
            <td width="20%">data_key_range</td>
            <td>{{ server_info.data_key_range }}</td>
        </tr>
        <tr>
            <td width="20%">leveldb.stats</td>
            <td>
                <pre>{{ server_info.stats }}
                </pre>
            </td>
        </tr>
        <tr>
            <td width="20%">disk_usage</td>
            <td>{{ server_info.disk_usage }} MB</td>
        </tr>
        </tbody>
    </table>
{% endblock %}