{% extends 'index.html' %}
{% block content %}
    <h3>qpop: <code>{{ queue_name }}</code></h3>
    <form class="form-inline center" action="{{ url_for('queuePop') }}" method="post">
        <input type="hidden" name="name" value="{{ queue_name }}">
        <div class="form-group">
            <label for="queue_name">Pop</label>
            <input type="text" class="form-control" id="queue_name" name="number" value="1" size="1">
        </div>
        <div class="form-group">
            <label for="type">Item(s) from at</label>
            <select name="type" id="type" class="form-control">
                <option value="back">Back</option>
                <option value="front">Front</option>
            </select>
        </div>
        <button type="submit" class="btn btn-sm btn-danger">Pop</button>
        <button class="btn btn-sm btn-default" onclick="history.go(-1)">Cancel</button>
    </form>
{% endblock %}